body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

input[type="text"], input[list] {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    height: 25px;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}

