body {
    margin: 0;
    font-family: serif;
    background-color: #000;
    color: #fff;
}


h2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #000;
    padding: 50px;
    text-align: left; /* 로고를 왼쪽 정렬 */
}

header .logo {
    margin: 0;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 60px #fff, 0 0 50px #fff;
}

.content-wrapper {
    display: flex;
    flex: 1;
}

nav {
    margin-top: 50px;
    width: 250px; /* 너비를 넓혔습니다 */
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 메뉴를 우정렬로 설정 */
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: right; /* 글씨를 우정렬로 설정 */
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 100px;
    flex: 1;
    padding: 20px;
    background-color: #000;
    text-align: left;
}

main section {
    margin-bottom: 20px;
    background-color: #000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto; /* 갤러리 가운데 정렬 */
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.5);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: #aaa;
}
